@use "styles/variables" as v;

.notero {
  $double-gap: calc(var(--gap) * 2);

  display: flex;
  justify-content: space-between;
  padding: 150px 0;

  &__container {
    display: flex;
  }

  &__left,
  &__rigth {
    flex: 1;
  }

  &__rigth {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $double-gap;
  }

  &__description {
    line-height: 26px;
  }
}
